.app-header {
  background-color: #15015a;
  color: #e0e1ce;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header h1,
h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-header h4 {
  color: #ffc6aa;
}

.app-header h4:hover {
  color: #ffa477;
  cursor: pointer;
}

.add-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #009707;
  font-size: large;
  margin: 15px 0;
}

.add-btn:hover {
  color: #007105;
  cursor: pointer;
}

.sticker-board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  gap: 10px 20px;
  height: 85vh;
  width: 100vw;
  margin: 0;
}

.sticker-board.dark {
  background-color: #4a4a4a;
}

.sticker-item {
  width: 250px;
  height: 150px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 10px;
}

.sticker-item a {
  color: #000;
  text-decoration: none;
}

.sticker-item.dark {
  border: 1px solid #cddbfe;
  color: #fff;
}

.sticker-item.dark a {
  color: #fff;
}

.st-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.st-btn {
  font-size: larger;
}

.st-btn:hover {
  cursor: pointer;
}

.btn-cancel {
  color: #007105;
}

.btn-del {
  color: #710000;
}

.edit-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 85vh;
  width: 100vw;
  margin: 0;
}

.edit-container.dark {
  background-color: #4a4a4a;
}

.edit-form {
  width: 90%;
}

.edit-form input[type='text'] {
  padding: 12px 20px;
  font-size: large;
  border-radius: 5px;
  width: 90%;
  border: 2px solid red;
}

.edit-form input[type='submit'] {
  padding: 12px 20px;
  font-size: large;
  border-radius: 5px;
  background-color: #338e33;
  color: #fff;
}
