.app-header {
  background-color: #15015a;
  color: #e0e1ce;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.app-header h1,
h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-header h4 {
  color: #ffc6aa;
}

.app-header h4:hover {
  color: #ffa477;
  cursor: pointer;
}

.add-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #009707;
  font-size: large;
}

.add-btn:hover {
  color: #007105;
  cursor: pointer;
}

.sticker-board {
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px 20px;
  width: 100%;
}

.sticker-board.dark {
  background-color: #4a4a4a;
}

.sticker-item {
  width: 250px;
  height: 150px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 10px;
}

.sticker-item.dark {
  border: 1px solid #cddbfe;
  color: #fff;
}

.sticker-area {
  width: 80%;
  height: 100px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.st-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.st-btn {
  font-size: larger;
}

.st-btn:hover {
  cursor: pointer;
}

.btn-cancel {
  color: #007105;
}

.btn-del {
  color: #710000;
}
